alias b="cd .."
alias bb="cd ../../"
alias bbb="cd ../../../"
alias bbbb="cd ../../../../"
alias bbbbb="cd ../../../../../"

alias la="ls -la"
alias ll="ls -l"
alias ltr="ls -ltr"
alias chrome="google-chrome-stable"
alias wk="cd ~/work"

# Simulate pbpaste/pbcopy
alias pbcopy="xclip -selection clipboard"
alias pbpaste="xclip -selection clipboard -o"
