[alias]
	b = branch
	co = checkout
	st = status
	lg = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
	dt = difftool -d

[diff]
	tool = meld

[difftool]
	prompt = false

[push]
	default = simple

[user]
	email = ctil@users.noreply.github.com
	name = ctil
