[alias]
	b = branch
	co = checkout
	st = status
	lg = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
	wt = worktree

[push]
	default = current
	autoSetupRemote = true

[user]
	email = ctil@users.noreply.github.com
	name = ctil

[pull]
	ff = only

[core]
	editor = nvim
    pager = delta

[interactive]
    diffFilter = delta --color-only

[include]
    path = ~/.delta/themes.gitconfig

[delta]
    navigate = true    # use n and N to move between diff sections
    side-by-side = true
    line-numbers = true
    true-color = always
    dark = true
    features = mellow-barbet
    ; syntax-theme = Coldark-Dark
    ; some other favorite themes
    ; syntax-theme = DarkNeon
    syntax-theme = TwoDark
    ; syntax-theme = Solarized (dark)

[merge]
    conflictStyle = zdiff3

